In [34]:
import numpy as np
import pandas as pd
import os
from os.path import join
from matplotlib import pyplot as plt

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

def find(s, ch):
    return np.array([i for i, ltr in enumerate(s) if ltr == ch]).astype(int)

In [2]:
# Loading the dataframe
def load():
    
    # Reading data into dataframe
    df = pd.read_csv('train.csv')
    df = df.rename(columns = {c:c.lower() for c in df.columns})
    
    # Sorting gender column
    if 'male' in df['sex'].values:
        df['sex'] = (df['sex']=='male').astype(int).values
    
    # Sorting df['age'] containing string 'Master' in column 'name' NaN values
    masterAge_mean = df['age'].loc[df['name'].str.contains('Master')].mean()
    masterAge_mean = round(masterAge_mean, 2)
    df['age'].loc[df['name'].str.contains('Master')] = df['age'].loc[df['name'].str.contains('Master')].fillna(masterAge_mean)

    return df

In [3]:
# Loading and displaying data
df = load()

# One-hot encoding 'embarked', 'pclass' columns
# Embarked column
df_embarked   = pd.get_dummies(df.embarked)
embarked_cols = list(df_embarked.columns)
df_embarked = df_embarked.rename(columns = {c: f'embarked_{c}' for c in embarked_cols})

# pclass column
df_pclass   = pd.get_dummies(df.pclass)
pclass_cols = list(df_pclass.columns)
df_pclass   = df_pclass.rename(columns = {c: f'pclass_{c}' for c in pclass_cols})

# Removing unnecessary columns
removed_cols = ['name','passengerid','ticket','embarked','pclass','cabin','survived']
df = pd.concat([df, df_embarked, df_pclass], axis=1)
df = df[[c for c in df if c not in removed_cols] + ['survived']]


df.head()

# Code to vary amount of dataframe shown
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     print(df)

C:\Users\micha\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,sex,age,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S,pclass_1,pclass_2,pclass_3,survived
0,1,22.0,1,0,7.2500,0,0,1,0,0,1,0
1,0,38.0,1,0,71.2833,1,0,0,1,0,0,1
2,0,26.0,0,0,7.9250,0,0,1,0,0,1,1
3,0,35.0,1,0,53.1000,0,0,1,1,0,0,1
4,1,35.0,0,0,8.0500,0,0,1,0,0,1,0

In [4]:
# Isolating features containing NaNs
nan_features = []
for c in df.columns:
    if df[c].isnull().values.any(): 
        nan_features.append(c)

# Percentage of NaNs for each column with NaNs
for f in nan_features:
    nan_percent = 100*df[f].isnull().sum() /len(df)
    print(f, f'{nan_percent:.3}')

age 19.4

In [5]:
# Converting NaNs to other values
def sortnans(dftr, dfcv, mode = 'zero'):
    if mode=='zero':
        dftr = dftr.fillna(0)
        dfcv = dfcv.fillna(0)
    # Calculating the mean for features that can be and replacing NaNs with the mean
    if mode=='mean':
        for nf in nan_features:
            if df[nf].dtype==('int64') or df[nf].dtype==('float64'):
                # Mean of the nf column in training dataframe (don't use cv dataframe as this fits data to cv data)
                mean   = dftr[nf].mean()
                # New columns with NaNs=mean
                newCol_tr = dftr[nf].fillna(mean) 
                newCol_cv = dfcv[nf].fillna(mean)
                # Replace old cols containing NaNs
                dftr.loc[:,nf] = newCol_tr
                dfcv.loc[:,nf] = newCol_cv
    
    return dftr, dfcv

# Processing dataframe
def process(df, sortnan_mode):
    
    dftr = df[:int(len(df)*.75)] 
    dfcv = df[int(len(df)*.75):]
    
    dftr, dfcv = sortnans(dftr,dfcv,mode=sortnan_mode)
    
    features = df.columns[:-1]
    
    return dftr, dfcv, features

In [6]:
# Training and cross validation data and features
dftr_zero, dfcv_zero, features = process(df, sortnan_mode = 'zero')
dftr_mean, dfcv_mean, features = process(df, sortnan_mode = 'mean')

# Features but removing final 3 columns
#features = features[:-3]

# X training data
Xtr_zero = dftr_zero[features].values
Xtr_mean = dftr_mean[features].values
# X cross validation data
Xcv_zero = dfcv_zero[features].values
Xcv_mean = dfcv_mean[features].values

# X data dictionary
X_modes = {
    'Zero': [Xtr_zero,Xcv_zero],
    'Mean': [Xtr_mean,Xcv_mean]}

# y outputs (dftr_mean=dftr_zero and dfcv_mean=dfcv_zero as these values aren't changed by sorting nans)
ytr = dftr_mean['survived'].values
ycv = dfcv_mean['survived'].values

C:\Users\micha\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [7]:
# Creating models
model_rf = RandomForestClassifier()
model_gb = GradientBoostingClassifier()
model_lr = LogisticRegression(max_iter=1e5)

# Models dictionary
models = {
    'Random Forest': model_rf,
    'Gradient Boosting': model_gb,
    'Logistic Regression': model_lr}

In [8]:
def results(models, X_modes, ytr, ycv):
    
    # Best f1 score
    f1_best=0
    
    # Looping through each model
    for m in models.keys():
        model=models[m]
        print(f'{model}:')
        
        # Looping through each set of X data
        for x in X_modes.keys():
            X = X_modes[x][0]
            y = ytr
            model.fit(X,y)
            
            # Evaluation metrics
            y_pred = model.predict(X_modes[x][1])
            acc    = accuracy_score(y_pred,ycv)
            f1     = f1_score(y_pred,ycv)
            if f1 > f1_best:
                f1_best   = f1
                model_idx = m
                X_idx     = x
        
            print(f'Using NaN={x}:\n accuracy:{acc:.6}\n F1 score:{f1:.6}')
        print('\n')
    
    return f1_best, model_idx, X_idx

f1_best, model_idx, X_idx = results(models, X_modes, ytr, ycv)
print(f'Mode: {X_idx}\nModel: {model_idx}\nBest f1 score: {f1_best:.6}')

RandomForestClassifier():
Using NaN=Zero:
 accuracy:0.811659
 F1 score:0.740741
Using NaN=Mean:
 accuracy:0.838565
 F1 score:0.780488


GradientBoostingClassifier():
Using NaN=Zero:
 accuracy:0.856502
 F1 score:0.789474
Using NaN=Mean:
 accuracy:0.852018
 F1 score:0.792453


LogisticRegression(max_iter=100000.0):
Using NaN=Zero:
 accuracy:0.807175
 F1 score:0.715232
Using NaN=Mean:
 accuracy:0.829596
 F1 score:0.75


Mode: Mean
Model: Gradient Boosting
Best f1 score: 0.792453

# Next Step: Implementing feature 'Cabin'

I have researched cabins (A-F) and ranked them in order of price and status. Then depending on the pclass (1st,2nd,3rd) and fare (£(continuous)) I will allocate each of the cabin=NaN values to one of the available cabins.
no. of pclass (1st/2nd/3rd): 216/368/1473

no. of pclass=2 with fare > 30: 48


3rd class: ticket price
2nd class: ticket price + 10
1st class: ticket price + 20

In [17]:
df2 = load()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    df3 = df2[(df2['cabin'].isnull().values.any()) & (df2['pclass']==1)][['cabin','pclass','fare']].sort_values('fare')
    print(df3.sum())
    #print(df3[df3.fare > 20].sum())
    print(df3)

pclass      216.0000
fare      18177.4125
dtype: float64
               cabin  pclass      fare
633              NaN       1    0.0000
822              NaN       1    0.0000
815             B102       1    0.0000
806              A36       1    0.0000
263              B94       1    0.0000
872      B51 B53 B55       1    5.0000
662              E58       1   25.5875
168              NaN       1   25.9250
862              D17       1   25.9292
796              D17       1   25.9292
545              NaN       1   26.0000
284              A19       1   26.0000
136              D47       1   26.2833
512              E25       1   26.2875
707              E24       1   26.2875
701              E24       1   26.2875
572              E25       1   26.3875
460              E12       1   26.5500
187              NaN       1   26.5500
447              NaN       1   26.5500
536              B38       1   26.5500
430              C52       1   26.5500
507              NaN       1   26.5500
456              E38       1   26.5500
467              NaN       1   26.5500
604              NaN       1   26.5500
11              C103       1   26.5500
857              E17       1   26.5500
555              NaN       1   26.5500
711             C124       1   26.5500
252              C87       1   26.5500
694              NaN       1   26.5500
64               NaN       1   27.7208
30               NaN       1   27.7208
194               B4       1   27.7208
295              NaN       1   27.7208
452             C111       1   27.7500
331             C124       1   28.5000
177              C49       1   28.7125
487              B37       1   29.7000
839              C47       1   29.7000
273             C118       1   29.7000
740              D45       1   30.0000
782               D6       1   30.0000
630              A23       1   30.0000
887              B42       1   30.0000
889             C148       1   30.0000
607              NaN       1   30.5000
632              B50       1   30.5000
298             C106       1   30.5000
492              C30       1   30.5000
449             C104       1   30.5000
793              NaN       1   30.6958
174               A7       1   30.6958
842              NaN       1   31.0000
209              A31       1   31.0000
270              NaN       1   31.0000
625              D50       1   32.3208
170              B19       1   33.5000
515              D46       1   34.0208
96                A5       1   34.6542
351             C128       1   35.0000
55               C52       1   35.5000
647              A26       1   35.5000
339                T       1   35.5000
23                A6       1   35.5000
462              E63       1   38.5000
853              D28       1   39.4000
766              NaN       1   39.6000
556              A16       1   39.6000
583              A10       1   40.1250
602              NaN       1   42.4000
83               NaN       1   47.1000
539              B39       1   49.5000
493              NaN       1   49.5042
710              C90       1   49.5042
185              A32       1   50.0000
867              A24       1   50.4958
571             C101       1   51.4792
457              D21       1   51.8625
6                E46       1   51.8625
475              A14       1   52.0000
110             C110       1   52.0000
669             C126       1   52.0000
671              B71       1   52.0000
383              NaN       1   52.0000
712             C126       1   52.0000
35               NaN       1   52.0000
871              D35       1   52.5542
621              D19       1   52.5542
248              D35       1   52.5542
137             C123       1   53.1000
809               E8       1   53.1000
724               E8       1   53.1000
3               C123       1   53.1000
748              D30       1   53.1000
356              E33       1   55.0000
166              E33       1   55.0000
370              E50       1   55.4417
434              E44       1   55.9000
577              E44       1   55.9000
309              E36       1   56.9292
599              A20       1   56.9292
781              B20       1   57.0000
690              B20       1   57.0000
523              B18       1   57.9792
329              B18       1   57.9792
513              NaN       1   59.4000
92               E31       1   61.1750
155              NaN       1   61.3792
54               B30       1   61.9792
97           D10 D12       1   63.3583
336               C2       1   66.6000
151               C2       1   66.6000
641              B35       1   69.3000
369              B35       1   69.3000
745              B22       1   71.0000
540              B22       1   71.0000
1                C85       1   71.2833
366              D37       1   75.2500
218              D15       1   76.2917
645              D33       1   76.7292
52               D33       1   76.7292
681              D49       1   76.7292
102              D26       1   77.2875
124              D26       1   77.2875
765              D11       1   77.9583
275               D7       1   77.9583
627               D9       1   77.9583
591              D20       1   78.2667
496              D20       1   78.2667
741              C46       1   78.8500
290              NaN       1   78.8500
587              B41       1   79.2000
789          B82 B84       1   79.2000
256              NaN       1   79.2000
139              B86       1   79.2000
262              E67       1   79.6500
558              E67       1   79.6500
585              E68       1   79.6500
829              B28       1   80.0000
61               B28       1   80.0000
445              A34       1   81.8583
34               NaN       1   82.1708
375              NaN       1   82.1708
879              C50       1   83.1583
835              E49       1   83.1583
310              C54       1   83.1583
230              C83       1   83.4750
62               C83       1   83.4750
257              B77       1   86.5000
504              B79       1   86.5000
759              B77       1   86.5000
849              C92       1   89.1042
453              C92       1   89.1042
224              C93       1   90.0000
412              C78       1   90.0000
486              C93       1   90.0000
245              C78       1   90.0000
484              B49       1   91.0792
291              B49       1   91.0792
820              B69       1   93.5000
520              B73       1   93.5000
537              NaN       1  106.4250
544              C86       1  106.4250
307              C65       1  108.9000
505              C65       1  108.9000
306              NaN       1  110.8833
550              C70       1  110.8833
581              C68       1  110.8833
698              C68       1  110.8833
659              D48       1  113.2750
393              D36       1  113.2750
215              D36       1  113.2750
802          B96 B98       1  120.0000
390          B96 B98       1  120.0000
763          B96 B98       1  120.0000
435          B96 B98       1  120.0000
334              NaN       1  133.6500
660              NaN       1  133.6500
319              E34       1  134.5000
337              E40       1  134.5000
373              NaN       1  135.6333
269              C99       1  135.6333
325              C32       1  135.6333
195              B80       1  146.5208
31               B78       1  146.5208
708              NaN       1  151.5500
305          C22 C26       1  151.5500
297          C22 C26       1  151.5500
498          C22 C26       1  151.5500
268             C125       1  153.4625
332              C91       1  153.4625
609             C125       1  153.4625
318               C7       1  164.8667
856              NaN       1  164.8667
730               B5       1  211.3375
689               B5       1  211.3375
779               B3       1  211.3375
377              C82       1  211.5000
527              C95       1  221.7792
557              NaN       1  227.5250
700          C62 C64       1  227.5250
716              C45       1  227.5250
380              NaN       1  227.5250
299          B58 B60       1  247.5208
118          B58 B60       1  247.5208
311  B57 B59 B63 B66       1  262.3750
742  B57 B59 B63 B66       1  262.3750
27       C23 C25 C27       1  263.0000
438      C23 C25 C27       1  263.0000
88       C23 C25 C27       1  263.0000
341      C23 C25 C27       1  263.0000
679      B51 B53 B55       1  512.3292
258              NaN       1  512.3292
737             B101       1  512.3292

C:\Users\micha\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [18]:
# df2[(df2['cabin'].isnull().values.any()) \
#     & (df2['cabin'].str.contains('A'))]

with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(df2[(df2['cabin'].isnull().values.any() & (df2['cabin'].str.contains('A')))]['fare'])

23     35.5000
96     34.6542
174    30.6958
185    50.0000
209    31.0000
284    26.0000
445    81.8583
475    52.0000
556    39.6000
583    40.1250
599    56.9292
630    30.0000
647    35.5000
806     0.0000
867    50.4958
Name: fare, dtype: float64

In [93]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     print(df2[(~df2['cabin'].isnull()) & (df2['cabin'].str.contains(''))][['pclass','fare','cabin']])

df_cabin  = df2[~df2['cabin'].isnull()]['cabin']
cabin_idx = df_cabin.index

cabin_letter=[]
cabin_number=[]
for i in cabin_idx:
    if ' ' in df_cabin[i]:
        cabin_start = find(df_cabin[i], ' ')[-1]
        letter = df_cabin[i][cabin_start+1]
        number = df_cabin[i][cabin_start+2:]
        cabin_letter.append(letter)
        cabin_number.append(number)
    else:
        letter = df_cabin[i][0]
        number = df_cabin[i][1:]
        cabin_letter.append(letter)
        cabin_number.append(number)

['C', 'C', 'E', 'G', 'C', 'D', 'A', 'C', 'B', 'D', 'B', 'C', 'B', 'C', 'F', 'G', 'C', 'E', 'A', 'D', 'D', 'C', 'B', 'E', 'D', 'E', 'D', 'C', 'B', 'F', 'C', 'E', 'B', 'A', 'C', 'F', 'A', 'F', 'B', 'B', 'G', 'A', 'D', 'D', 'C', 'C', 'C', 'D', 'G', 'C', 'B', 'E', 'B', 'C', 'C', 'C', 'D', 'A', 'B', 'D', 'C', 'C', 'B', 'E', 'C', 'C', 'E', 'C', 'B', 'C', 'E', 'C', 'D', 'B', 'C', 'C', 'C', 'E', 'T', 'F', 'C', 'F', 'C', 'E', 'D', 'B', 'E', 'C', 'B', 'D', 'G', 'C', 'E', 'C', 'E', 'B', 'C', 'A', 'C', 'C', 'C', 'E', 'D', 'E', 'E', 'D', 'A', 'B', 'C', 'B', 'C', 'D', 'C', 'B', 'C', 'E', 'D', 'F', 'B', 'B', 'C', 'B', 'B', 'B', 'C', 'C', 'A', 'E', 'C', 'E', 'E', 'C', 'A', 'E', 'B', 'D', 'A', 'C', 'F', 'D', 'D', 'D', 'A', 'B', 'B', 'D', 'A', 'D', 'E', 'C', 'B', 'B', 'D', 'B', 'B', 'C', 'G', 'C', 'E', 'E', 'C', 'C', 'C', 'G', 'C', 'E', 'E', 'B', 'B', 'D', 'C', 'B', 'B', 'D', 'E', 'B', 'B', 'D', 'E', 'F', 'B', 'B', 'D', 'B', 'D', 'B', 'A', 'E', 'B', 'B', 'E', 'B', 'E', 'C', 'C', 'D', 'E', 'D', 'A', 'D', 'B', 'C', 'B', 'C']
1                  C85
3                 C123
6                  E46
10                  G6
11                C103
21                 D56
23                  A6
27         C23 C25 C27
31                 B78
52                 D33
54                 B30
55                 C52
61                 B28
62                 C83
66                 F33
75               F G73
88         C23 C25 C27
92                 E31
96                  A5
97             D10 D12
102                D26
110               C110
118            B58 B60
123               E101
124                D26
128              F E69
136                D47
137               C123
139                B86
148                 F2
151                 C2
166                E33
170                B19
174                 A7
177                C49
183                 F4
185                A32
193                 F2
194                 B4
195                B80
205                 G6
209                A31
215                D36
218                D15
224                C93
230                C83
245                C78
248                D35
251                 G6
252                C87
257                B77
262                E67
263                B94
268               C125
269                C99
273               C118
275                 D7
284                A19
291                B49
292                  D
297            C22 C26
298               C106
299            B58 B60
303               E101
305            C22 C26
307                C65
309                E36
310                C54
311    B57 B59 B63 B66
318                 C7
319                E34
325                C32
327                  D
329                B18
331               C124
332                C91
336                 C2
337                E40
339                  T
340                 F2
341        C23 C25 C27
345                F33
351               C128
356                E33
366                D37
369                B35
370                E50
377                C82
390            B96 B98
393                D36
394                 G6
412                C78
429                E10
430                C52
434                E44
435            B96 B98
438        C23 C25 C27
445                A34
449               C104
452               C111
453                C92
456                E38
457                D21
460                E12
462                E63
473                  D
475                A14
484                B49
486                C93
487                B37
492                C30
496                D20
498            C22 C26
504                B79
505                C65
512                E25
515                D46
516                F33
520                B73
523                B18
527                C95
536                B38
539                B39
540                B22
544                C86
550                C70
556                A16
558                E67
571               C101
572                E25
577                E44
581                C68
583                A10
585                E68
587                B41
591                D20
599                A20
609               C125
618                 F4
621                D19
625                D50
627                 D9
630                A23
632                B50
641                B35
645                D33
647                A26
659                D48
662                E58
669               C126
671                B71
679        B51 B53 B55
681                D49
689                 B5
690                B20
698                C68
699              F G63
700            C62 C64
701                E24
707                E24
710                C90
711               C124
712               C126
715              F G73
716                C45
717               E101
724                 E8
730                 B5
737               B101
740                D45
741                C46
742    B57 B59 B63 B66
745                B22
748                D30
751               E121
759                B77
763            B96 B98
765                D11
772                E77
776                F38
779                 B3
781                B20
782                 D6
789            B82 B84
796                D17
802            B96 B98
806                A36
809                 E8
815               B102
820                B69
823               E121
829                B28
835                E49
839                C47
849                C92
853                D28
857                E17
862                D17
867                A24
871                D35
872        B51 B53 B55
879                C50
887                B42
889               C148
Name: cabin, dtype: object

In [ ]:
df2 = load()

df2[pd.isnull(df2['cabin'])]['fare'].hist(bins=np.arange(0,175,5))

# histogram of fares for the entries cabin=NaN

In [ ]:
df2[(df2['cabin'].isnull().values.any()) \
    & (df2['cabin'].str.contains('A'))]['fare'].hist(bins=np.arange(0,200,5))

# histogram of fares for the entries with cabin != NaN and cabin